@model IEnumerable<DataManagementSystem.Models.personModel>

@{
    ViewBag.Title = "ViewAll";
}
<script src="https://kit.fontawesome.com/ce19876732.js" crossorigin="anonymous"></script>
<style>
    body {
        background-image: url('../../content/img/viewback.jpg');
        background-size: cover;
        background-repeat: no-repeat;
       
    }
</style>

<h2 class="text-center">Players information</h2>
<p class="btn btn-outline-danger" id="signoutbtn">
    @Html.ActionLink("Sign out","Home", "Person") <i class="fa-solid fa-arrow-right-from-bracket"></i>
</p>
<p class="btn btn-outline-primary">
    @Html.ActionLink("Add", "Insert") <i class="fa-solid fa-user-plus"></i>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
           <h6><b>Action</b></h6>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @if (item.Picture != null)
                {
                    <a href="data:image;base64,@Convert.ToBase64String(item.Picture)" target="_blank">
                        <img src="data:image;base64,@Convert.ToBase64String(item.Picture)" alt="Picture" height="50px" width="50px"/>
                    </a> 
                }
                else
                {
                    <span>No image available</span>
                }
            </td>
            <td>
                <button class="btn btn-outline-success"> @Html.ActionLink("Update", "Update", new { id = item.PersonID }) <i class="fa-solid fa-pen" style='font-size:15px'></i> </button>
                <button class="btn btn-outline-danger">  @Html.ActionLink("Remove", "Delete", new { id = item.PersonID }) <i class="fa-solid fa-xmark "  style='font-size:20px'></i></button>
            </td>
        </tr>
    }
 
</table>
